<style>
  .container {
    position: relative;
  }
  .ft-content {
    height: 170px;
    line-height: 170px;
  }
  .img {
    float: right;
    margin: 10px 0;
  }
  @media (max-width: 52em) {
    .ft-content {
      height: auto;
      line-height: inherit;
    }
    .img {
      float: left;
    }
  }
</style>
<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container mx-auto px-2 clearfix">
    <p class="col-8 sm-width-full left py-2 mb-0 ft-content">
      此项目由
      <a class="text-accent" href="https://github.com/{{ site.github_username }}">
        {{ site.github_username }}
      </a>
      维护，欢迎
      <a class="text-accent" href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}">Star</a>，谢谢！
      <a href="{{ site.url }}/feed.xml">RSS订阅</a>
      
    </p>
    <img class="img" src="/assets/images/weixin_small.jpg" width="150" height="auto" alt="">
  </div>
</div>
